PROJECT="mysite"
EMAIL="address@domain.com"

### SSH ###
SSH_HOST="hoster.com"
SSH_USER="user"
SSH_PASS="password"

### MySQL ###
SQL_HOST="db.hoster.com"
SQL_USER="user"
SQL_PASS="password"
SQL_DB="database"

### Configuration du nom des répertoires et des fichiers ###
LOCAL_DIR="/home/pi/"
REMOTE_DIR="/home/user/www/"